/* ===== Fonts ===== */
@font-face {
    font-family: "IBMPlexSansArabicRegular";
    src:
        url("../fonts/ar/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSansArabicMedium";
    src:
        url("../fonts/ar/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "29ltBukraRegular";
    src:
        url("../fonts/ar/29lt-bukra/29lt-bukra.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "29ltBukraBold";
    src:
        url("../fonts/ar/29lt-bukra/29lt-bukra-bold.woff2") format("woff2");
    font-display: swap;
}

:root {
    --font-primary-regular: "IBMPlexSansArabicRegular", sans-serif;
    --font-primary-medium: "IBMPlexSansArabicMedium", sans-serif;
    --font-secondary-regular: "29ltBukraRegular", sans-serif;
    --font-secondary-bold: "29ltBukraBold", sans-serif;

    --color-primary: #fab423;
    --color-secondary: #f2eedf;
    --color-dark: #1b1b1b;
    --color-white: #ffffff;
    --color-gray: #7f7f7f;
    --color-light: #e8e8e8;
    --color-light-2: #fafafa;
}

$colors: (
    "primary": #fab423,
    "secondary": #f2eedf,
    "white": #ffffff,
    "dark": #1b1b1b,
    "gray": #7f7f7f,
    "light": #e8e8e8,
    "light-2": #fafafa,
);

$fonts: (
    "primary-regular": var(--font-primary-regular),
    "primary-medium": var(--font-primary-medium),
    "secondary-regular": var(--font-secondary-regular),
    "secondary-bold": var(--font-secondary-bold),
);

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
);

$font-sizes: (
    "xs": 12px,
    "sm": 14px,
    "md": 16px,
    "lg": 18px,
    "xl": 20px,
    "2xl": 24px,
    "3xl": 32px,
    "4xl": 40px,
    "title":28px
);

$icon-sizes: (
    "24": 24px,
    "32": 32px,
    "40": 40px,
    "48": 48px,
    "54": 54px,
    "58": 58px,
    "60": 60px,
    "64": 64px,
    "80": 80px,
    "88": 88px,
    "100": 100px,
    "120": 120px,
    "128": 128px,
);

$spacings: (
    "8": 8px,
    "10": 10px,
    "12": 12px,
    "14": 14px,
    "16": 16px,
    "20": 20px,
    "24": 24px,
    "30": 30px,
    "32": 32px,
    "40": 40px,
    "48": 48px,
    "56": 56px,
    "60": 60px,
    "64": 64px,
    "70": 70px,
    "80": 80px,
    "100": 100px,
    "120": 120px,
    "240": 240px,
);

/* ===== Typography ===== */
@each $name, $value in $fonts {
    .font-#{$name} {
        font-family: $value;
    }
}

@each $name, $size in $font-sizes {
    .text-#{$name} {
        font-size: $size;
    }
}

@each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
        @each $name, $size in $font-sizes {
            .#{$breakpoint}-text-#{$name} {
                font-size: $size !important;
            }
        }
    }
}

/* ===== Colors ===== */
@each $name, $value in $colors {
    .text-#{$name}-color {
        color: $value !important;
    }

    .hover-text-#{$name}:hover {
        color: $value !important;
    }

    .bg-#{$name}-color {
        --bg-opacity: 1;
        background-color: rgba($value, var(--bg-opacity));
    }

    .hover-bg-#{$name}:hover {
        background-color: $value !important;
    }
}

.hover-opacity-100:hover {
    opacity: 1 !important;
}

/* ===== Icons ===== */
@each $name, $size in $icon-sizes {
    .icon-#{$name} {
        width: $size;
        height: $size;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

@each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
        @each $name, $size in $icon-sizes {
            .#{$breakpoint}-icon-#{$name} {
                width: $size;
                height: $size;
            }
        }
    }
}

/* ===== Spacing ===== */
@each $name, $value in $spacings {
    .p-#{$name} {
        padding: $value;
    }

    .pt-#{$name} {
        padding-top: $value;
    }

    .ps-#{$name} {
        padding-inline-start: $value;
    }

    .pe-#{$name} {
        padding-inline-end: $value;
    }

    .pb-#{$name} {
        padding-bottom: $value;
    }

    .px-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$name} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$name} {
        margin: $value;
    }

    .mt-#{$name} {
        margin-top: $value;
    }

    .mb-#{$name} {
        margin-bottom: $value;
    }

    .ms-#{$name} {
        margin-inline-start: $value;
    }

    .me-#{$name} {
        margin-inline-end: $value;
    }

    .mx-#{$name} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$name} {
        margin-top: $value;
        margin-bottom: $value;
    }

    .gap-#{$name} {
        gap: $value;
    }
}

@each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
        @each $name, $value in $spacings {

            // Padding End (Logical)
            .#{$breakpoint}-pe-#{$name} {
                -webkit-padding-end: $value;
                padding-inline-end: $value;
            }

            // Padding Start (Logical)
            .#{$breakpoint}-ps-#{$name} {
                -webkit-padding-start: $value;
                padding-inline-start: $value;
            }

            .#{$breakpoint}-p-#{$name} {
                padding: $value;
            }

            .#{$breakpoint}-pt-#{$name} {
                padding-top: $value;
            }

            .#{$breakpoint}-pb-#{$name} {
                padding-bottom: $value;
            }

            .#{$breakpoint}-px-#{$name} {
                padding-left: $value;
                padding-right: $value;
            }

            .#{$breakpoint}-py-#{$name} {
                padding-top: $value;
                padding-bottom: $value;
            }

            .#{$breakpoint}-m-#{$name} {
                margin: $value;
            }

            .#{$breakpoint}-mx-#{$name} {
                margin-left: $value;
                margin-right: $value;
            }

            .#{$breakpoint}-mt-#{$name} {
                margin-top: $value;
            }

            .#{$breakpoint}-mb-#{$name} {
                margin-bottom: $value;
            }

            .#{$breakpoint}-my-#{$name} {
                margin-top: $value;
                margin-bottom: $value;
            }

            .#{$breakpoint}-ms-#{$name} {
                -webkit-margin-start: $value;
                margin-inline-start: $value;
            }

            .#{$breakpoint}-me-#{$name} {
                -webkit-margin-end: $value;
                margin-inline-end: $value;
            }

            .#{$breakpoint}-gap-#{$name} {
                gap: $value;
            }
        }
    }
}

/* ===== Aspect Ratio ===== */
$aspects: (
    "thumbnail": (16,
        9,
    ),
    "square": (1,
        1,
    ),
    "hero": (1440,
        733,
    ),
    "hero-thumbs": (250,
        141,
    ),
    "blog": (678,
        480,
    ),
    "blog-sm": (270,
        152,
    ),
    "cat": (178,
        100,
    ),
    "media": (405,
        228,
    ),
    "library": (872,
        491,
    ),
    "book": (300,
        415,
    ),
);

@each $name, $dims in $aspects {
    $w: nth($dims, 1);
    $h: nth($dims, 2);

    .aspect-#{$name} {
        aspect-ratio: #{$w} / #{$h};
        width: 100%;
        object-fit: cover;
    }
}

/* ===== Utilities ===== */
@mixin hover-opacity($opacity: 0.5, $duration: 0.2s) {
    transition: opacity $duration ease-in-out;

    &:hover {
        opacity: $opacity;
    }
}

.hover-opacity-50 {
    @include hover-opacity(0.5);
}

@for $i from 1 through 5 {
    .line-clamp-#{$i} {
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
        min-height: calc(1.5em * #{$i});
    }
}

/* Global Styles */
body {
    font-family: map-get($fonts, "primary-regular");
    color: var(--color-dark);
    font-size: map-get($font-sizes, "md");
}

p,
ul {
    color: var(--color-gray);
}

h1,
.h1 {
    font-size: map-get($font-sizes, "4xl");
    font-family: map-get($fonts, "secondary-bold");
}

h2,
.h2 {
    font-size: map-get($font-sizes, "3xl");
    font-family: map-get($fonts, "secondary-bold");
}

h3,
.h3 {
    font-size: map-get($font-sizes, "2xl");
    font-family: map-get($fonts, "secondary-bold");
}

h4,
.h4 {
    font-size: map-get($font-sizes, "xl");
    font-family: map-get($fonts, "secondary-bold");
}

h5,
.h5 {
    font-size: map-get($font-sizes, "lg");
    font-family: map-get($fonts, "secondary-bold");
}

h6,
.h6 {
    font-size: map-get($font-sizes, "md");
    font-family: map-get($fonts, "secondary-bold");
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

/* === containers === */

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}

@media (min-width: 1800px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
}

/* === Buttons === */
.btn-primary-color {
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-bg: darken(var(--color-primary), 10%);
    --bs-btn-hover-border-color: var(--color-primary);
    --bs-btn-hover-color: var(--color-primary);
    --bs-btn-active-bg: darken(var(--color-primary), 15%);
    --bs-btn-active-border-color: darken(var(--color-primary), 15%);
    --bs-btn-disabled-bg: lighten(var(--color-primary), 20%);
    --bs-btn-disabled-border-color: lighten(var(--color-primary), 20%);
    --bs-btn-disabled-color: lighten(var(--color-primary), 40%);
    font-family: var(--font-primary-medium);

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.18), inset 0px -2px 0px rgba(0, 0, 0, 0.05);

    &:hover {
        box-shadow: none;
    }
}

/* === Forms === */
input,
select,
.form-control,
.ss-main {
    border-color: #d5d7da;
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #d5d7da;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    background: #fafafa;
    color: var(--color-dark);
    border-radius: 8px;
}

.ss-content .ss-list .ss-option:hover:not(.ss-disabled) {
    border: 0;
}

.ss-content {
    border-radius: 8px;
    border-color: #d5d7da;
}

.ss-content .ss-search input {
    text-align: inherit;
}

/* Breadcrumb */
.breadcrumb {
    --bs-breadcrumb-item-active-color: #494949;
}

.breadcrumb-item.active {
    font-family: var(--font-primary-medium);
}

.breadcrumb.breadcrumb-white {
    --bs-breadcrumb-item-active-color: var(--color-white);
    --bs-breadcrumb-divider-color: var(--color-white);
}

.breadcrumb.breadcrumb-white a {
    color: rgba(241, 241, 241, 1);
}

/* === Navbar === */
.navbar {
    z-index: 3;

    .navbar-nav {
        .nav-link {
            color: var(--color-white);
            position: relative;

            &::before {
                content: "";
                width: 0;
                height: 1px;
                background-color: var(--color-primary);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
            }

            &:hover,
            &:focus,
            &.active {
                color: var(--color-primary);

                &::before {
                    opacity: 1;
                    visibility: visible;
                    width: calc(100% - 1rem);
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 3.94%, #000000 100%);
        z-index: -1;
    }

    &.navbar-custom {

        &::before {
            content: none;
        }
    }
}

.navbar-brand {
    max-width: 50%;
}

.navbar-toggler {
    border: 0;
    outline: 0;
    box-shadow: none;
}

/* === Dropdown === */
.dropdown-menu {
    --bs-dropdown-bg: var(--color-dark);
    --bs-dropdown-color: var(--color-light);
    font-size: map-get($font-sizes, "sm");
    --bs-dropdown-link-color: var(--color-light);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--color-primary);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: var(--color-primary);
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);

    x input,
    .form-control {
        border: 1px solid #666666;
        background-color: transparent;
        color: var(--color-light);
        font-size: map-get($font-sizes, "xs");
        box-shadow: 0px 1px 2px 0px var(--ColorsEffectsShadowsshadow-xs);
        border-radius: 8px;

        &::placeholder {
            color: #494949;
        }
    }

    .border {
        border-color: rgba(#5f5f5f, 0.2) !important;
    }
}

.dropdown-menu-md {
    --bs-dropdown-min-width: 295px;
}

.dropdown-menu-lg {
    --bs-dropdown-min-width: 358px;
}

.dropdown-item {
    border-radius: 8px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgba(#5f5f5f, 0.2);
}

.dropdown-toggle::after {
    border: 0;
    width: 16px;
    height: 16px;

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: currentColor;
    margin: 0;
    vertical-align: middle;
}

.mega-menu {

    &-content,
    &-columns {
        position: relative;
    }

    &-list,
    &-sublist {
        position: relative;
        margin: 0;
        padding-inline-end: 25px;
        margin-inline-end: 25px;
        list-style-type: decimal-leading-zero;
        border-inline-end: 1px solid var(--color-border, #282828);
        min-width: calc(20% - 25px);
        max-width: calc(20% - 25px);

        &.last-visible {
            border-inline-end: 0 !important;
        }
    }

    &-item {
        position: static;

        &::marker {
            font-size: map-get($font-sizes, "sm");
            color: rgba(#fff, 0.5);
            transition: 0.3s;
        }

        &:hover {
            &::marker {
                color: var(--color-primary);
            }

            >.mega-menu-link {
                color: var(--color-white);
            }
        }

        /* item with children */
        &--has-children {

            /* hover + click */
            &:hover,
            &.is-open {
                >.mega-menu-sublist {
                    display: flex;
                    flex-direction: column;
                }

                >.mega-menu-link {
                    color: var(--color-white);
                }
            }
        }
    }

    &-link {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 15px 0;
        padding-inline-start: 10px;
        font-family: var(--font-secondary-bold);
        font-size: map-get($font-sizes, "lg");
        color: rgba(#fff, 0.5);
        transition: 0.3s;

        &--active,
        &:hover {
            color: var(--color-white);
        }

        svg {
            flex-shrink: 0;
        }
    }

    &-sublist {
        display: none;
        position: absolute;
        top: 0;
        inset-inline-start: calc(100% + 50px);
        min-width: 100%;
        height: 100%;
        padding-inline: 25px;
    }
}

/* === Tabs === */
.nav-tabs.nav-tabs-1 {
    border: 0;
}

.nav-tabs.nav-tabs-1 .nav-link {
    border: 0;
    color: var(--color-dark);
    background-color: transparent;
    font-family: var(--font-secondary-regular);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:hover {
        color: var(--color-primary);
    }
}

.nav-tabs.nav-tabs-1 .nav-item.show .nav-link,
.nav-tabs.nav-tabs-1 .nav-link.active {
    color: var(--color-primary);
    font-family: var(--font-secondary-bold);
}

/* === Pagination === */
.pagination {
    --bs-pagination-color: var(--color-dark);
    --bs-pagination-border-width: 0;
    --bs-pagination-hover-color: var(--color-dark);
    --bs-pagination-active-color: var(--color-dark);
    --bs-pagination-focus-color: var(--color-dark);
    --bs-pagination-active-bg: var(--color-light-2);
    --bs-pagination-hover-bg: var(--color-light-2);
    --bs-pagination-focus-bg: var(--color-light-2);
}

.page-link {
    border-radius: 0.375rem;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 0.375rem;
}

/* === Card === */
.card {
    --bs-card-border-color: var(--color-light);

    .card-img-top {
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .card-img-top {
            transform: scale(1.05);
        }
    }
}

/* === Top Nav === */
.top-nav {
    border-bottom: 1px solid #313131;
}

.top-nav-start {
    >div:not(:last-child) {
        border-inline-end: 1px solid #313131;
        padding-inline-end: 1.5rem;
    }
}

/* === Footer === */
footer {
    .border {
        border-color: rgba(#ffffff, 0.15) !important;
    }

    .border-vertical {
        border-left: 1px solid rgba(#ffffff, 0.15) !important;
        height: 16px;
    }
}

/* === Animated Arrow === */
.animated-arrow {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.animated-arrow .arrow-wrapper {
    display: inline-block;
    overflow: hidden;
    height: 14px;
}

.animated-arrow .arrow-wrapper svg {
    display: block;
    --arrow-direction: 1;
    transition: transform 0.3s ease;
}

.animated-arrow:hover .arrow-wrapper svg {
    animation: arrowInfiniteSlide 0.4s ease-in-out;
}

@keyframes arrowInfiniteSlide {
    0% {
        transform: translateY(0) scaleX(var(--arrow-direction, 1));
    }

    49% {
        transform: translateY(-120%) scaleX(var(--arrow-direction, 1));
    }

    50% {
        transform: translateY(120%) scaleX(var(--arrow-direction, 1));
    }

    100% {
        transform: translateY(0) scaleX(var(--arrow-direction, 1));
    }
}

.hero-slider {
    .title {
        line-height: 160%;
    }
}

.hero-thumbnails {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

/* === Splide Custom Styles === */
.splide__pagination__page {
    width: 13px;
    height: 13px;
    background-color: #d9d9d9;
}

.splide__pagination__page.is-active {
    transform: none;
    background-color: #878787;
}

.splide__track--nav>.splide__list>.splide__slide {
    border: 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(-90deg,
                rgba(255, 255, 255),
                rgba(255, 255, 255, 0.5));
        z-index: 10;
        opacity: 0;
    }
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 0;

    &::before {
        opacity: 1;
    }
}

.splide__arrow {
    width: 44px;
    height: 44px;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    color: var(--color-white);
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba($color: #ffffff, $alpha: 1);
        color: var(--color-dark);

        svg {
            fill: var(--color-dark);
        }
    }

    &.splide__arrow--prev {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.splide__arrow--next {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    svg {
        fill: var(--color-white);
        width: 1em;
        height: 1em;
        transition: all 0.2s ease-in-out;
    }
}

/* === Utility Classes === */
.pointer-events-none {
    pointer-events: none;
}

.line-primary {
    width: 3px;
    height: 18px;
    background-color: var(--color-primary);
}

.bg-linear-gradient {
    background: linear-gradient(180deg, #f2eedf 0%, #ffffff 73.4%);
}

.bg-linear-gradient-dark {
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.8) 6.87%, rgba(3, 3, 3, 0) 49.88%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.4) 7.83%, rgba(0, 0, 0, 0) 40.96%);
}

.icon-blur {
    backdrop-filter: blur(8px);
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    color: var(--color-white);
}

.border-light {
    border-color: var(--color-light) !important;
}

.position-static {
    position: static;
}

.lh-md {
    line-height: 160%;
}

.star {
    color: rgba(255, 226, 61, 1);
}

.tag-item {
    background-color: rgba($color: #fab423, $alpha: 0.07);
    border: 1px solid rgba($color: #B28019, $alpha: 0.3);
    border-radius: .5rem;
    padding: 6px 18px;
    font-size: map-get($font-sizes, "sm");
}

.comment-item:not(:last-child) {
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    padding-bottom: 32px;
}

.video-js::before {
    content: "";
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.video-js .vjs-tech {
    border-radius: 0.5rem;
}

.video-js .vjs-big-play-button {
    width: 64px !important;
    height: 64px !important;
    line-height: 64px !important;
    border-radius: 50% !important;
    border: none !important;
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.1);
    color: #fff !important;
    transition: all 0.3s ease;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    background-color: rgba(255, 255, 255, 0.4) !important;
    transform: scale(1.05);
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    font-size: 20px !important;
    line-height: 64px !important;
}

.video-js .vjs-control-bar {
    margin: 20px 0;
    display: flex;
    background-color: transparent;
}


.video-js .vjs-play-progress {
    background-color: #ffffff !important;
}

.video-js .vjs-slider {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.video-js .vjs-button {
    color: rgba(255, 255, 255, 0.9) !important;
    width: 40px !important;
    height: 40px !important;
}

.video-js .vjs-button:hover {
    color: #ffffff !important;
}

.video-js.vjs-has-started.vjs-user-inactive .vjs-control-bar {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.page-head {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(102, 102, 102, 0.9) 100%), url('../images/bg/head-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    min-height: 550px;
}

.page-head-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(102, 102, 102, 0.9) 100%), url('../images/bg/head-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 80px;
    color: var(--color-white);
}

.page-content {
    margin-top: -320px;
}

/* === Responsive === */
@media (max-width: 991.98px) {
    .navbar-nav {
        background-color: #0d0d0d;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: calc(var(--bs-gutter-x) * 2);
        padding-right: calc(var(--bs-gutter-x) * 2);
    }

    .navbar-collapse.show .navbar-nav {
        transform: translateX(0);
    }

    .navbar .navbar-nav .nav-item {
        list-style-type: decimal-leading-zero;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 18px;
    }

    .dropdown-toggle::after {
        transform: rotate(90deg);
    }

    .mega-menu {
        display: block !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: 101;
        background-color: #0d0d0d;

        &.show {
            transform: translateX(0);
        }
    }

    .mega-menu-title {
        display: none;
    }

    .mega-menu-link {
        font-family: var(--font-primary-regular);
    }

    .mega-menu-sublist {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background-color: #0d0d0d;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: 102;
        inset-inline-start: 0;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: calc(var(--bs-gutter-x) * 2);
        padding-right: calc(var(--bs-gutter-x) * 2);
    }

    .mega-menu-sublist.show {
        transform: translateX(0);
        visibility: visible;
        pointer-events: auto;
    }

    /* Back animation */
    .mega-menu-sublist.is-closing {
        transform: translateX(-100%);
    }

    .mega-menu-list,
    .mega-menu-sublist {
        border: 0;
        min-width: 100%;
        max-width: 100%;
    }

    .mega-menu-item--has-children {
        position: static !important;
    }

    .nav-controls {
        position: relative;
        z-index: 999;
    }

    .mega-menu,
    .mega-menu-sublist {
        padding-top: 80px;
    }
}

/* RTL Support */
html[lang="ar"],
html[dir="rtl"] {
    direction: rtl;

    [type="email"],
    [type="number"],
    [type="tel"],
    [type="url"] {
        direction: rtl;
    }
}